# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

### JetBrains template
.idea

## File-based project format:
*.iws

#prevent .css files from getting into repo
src/**/*.css

#Materials used in building out project
Materials